<div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label>Usuario:</label>
      <input formControlName="username" type="text" />
      <label>Contraseña:</label>
      <input formControlName="password" type="password" />
      <label>Email:</label>
      <input formControlName="email" type="email" />
      <label>Comunidad:</label>
      <input formControlName="comunidad" type="text" />
      <button type="submit">Login</button>
    </form>
  
    <hr />
  
    <h3>Cargar un archivo Excel</h3>
    <input type="file" (change)="onFileChange($event)" />
  
    <hr />
  
    <h3>Listado de Datos</h3>
    <div *ngIf="excelData.length === 0">No hay datos para mostrar</div>
    <ul>
        <li *ngFor="let item of excelData">
          <label>
            <input
              type="checkbox"
              [checked]="selectedItems.includes(item)"
              (change)="toggleSelection(item, $event)" 
            />
            {{ item | json }}
          </label>
        </li>
      </ul>
      
  
    <button (click)="generateScript()">Generar Script</button>
  </div>
